<form id="userform8">
  <fieldset>
    <legend><h2>Sign Off</h2></legend>
    Customer Approver: <input type="text" ng-model="formData.custApprover" maxlength="80">
    <br /><br />
    Customer Signature: <input type="text" ng-model="formData.custSignature" maxlength="80">
    <br /><br />
    IBM Approver: <input type="text" ng-model="formData.IBMApprover" maxlength="80">
    <br /><br />
    IBM Signature: <input type="text" ng-model="formData.IBMSignature" maxlength="80">
    <br /><br />
    
    <input type="submit" value="Submit">
  </fieldset>
</form>